.button{
    cursor: pointer;
    border: none;
    background:none;
    height: 1.5rem;
    width: 5rem;
    color: #ffffff;
    font-size: 15px;
    margin: 0.3rem;
    background: url("./lupa.png");
    background-repeat: no-repeat;  
    background-size: 21px;
}

.input{
    cursor: auto;
    border: none;
    border-radius: 1rem;
    background-color: #ffffff;
    height: 4vh;
    width: 30vh;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0  5px 4px  rgba(255, 255, 255, 0.44);
    margin: none;
    text-align: left;
    padding-left: 1rem;
    border-radius: 1rem;
}
.contenedor{
    display: flex;
    align-items: center;
}

.contenedor_movil{
    display: flex;
    flex-direction: row;
    width: 220px;
}
.input_movil{
    border: none;
    border-radius: 1rem;
    background-color: #ffffff;
    height: 40px;
    width: 165px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: none;
    padding: 10px;
    text-align: left;
}
.button_movil{
    border: none;
    background: url("./lupa.png");
    background-repeat: no-repeat;
    height: auto;
    width: 5rem;
    background-size: 31px;
    background: none;
}
.button_movil_img{
    width: 26px;
}