.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.button{
    font-size: 10px;
    cursor: pointer;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 1rem;
    background-color: #ffffff;
    height: 2rem;
    width: 4rem;
    color: rgb(55, 55, 55);
    text-align: center;
    font-weight: bolder;
}

.numeros{
    cursor: none;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    width: 3rem;
    color:rgb(55, 55, 55);
    text-align: center;
    margin-left: 0.5rem;
    /* font-weight: bolder; */
}
.inputNumber{  /* font-size: 10px; */
    cursor: auto;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 1rem;
    background-color: #ffffff;
    height: 2rem;
    width: 3rem;
    color: rgb(55, 55, 55);
    text-align: center;
    margin-left: 0.5rem;
    /* font-weight: bolder; */
}

.anterior{
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-color:rgb(55, 55, 55);
    height: 2rem;
    width: 2rem;
    text-align: center;
    font-weight: bolder;

}
.siguiente{
    padding: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;

    text-align: center;
    font-weight: bolder;
    background-color:rgb(55, 55, 55);
}

.atras{
    width: 1rem;
    display: flex;
}

.adelante{
    width: 1rem;
}
.hiddenButton{
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    display: flex;
    border-radius: 1rem;
}
.hiddenButtonAdelante{
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    display: flex;
    border-radius: 1rem;
}