.search{
    font-weight: 300;
    font-size: 40px;
    color:rgb(55, 55, 55);
    text-align: center;
    background-color: rgb(244 225 244 / 82%);
    border-radius: 1rem;
    padding: 2rem;
}

.cardContent{
    display: flex;
    padding: 2rem;
    font: times;
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
} 

.opciones{
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 3rem;
    flex-wrap: nowrap;
    align-items: center;
    /* border-left: 1px;
    border-right: 1px; */
    /* border: 1px; */
    border:none
}

.orden{
    border: none;
       /* margin-left: 4rem; */
       cursor: pointer;
        background-color: #ffffff;
       height: 1.5rem;
       width: 8rem;
       color:rgb(55, 55, 55);
       text-align: center;
       
}

.actividad{
      /* margin-left: 4rem; */
      cursor: pointer;
      border: none;
      background-color: #ffffff;
      height: 1.5rem;
      width: 8rem;
      color: rgb(55, 55, 55);
      text-align: center;
      margin-right: 1rem;
}
.poblacion{
    border: none;
    cursor: pointer;
    height: 1.5rem;
    width: 8rem;
    color: rgb(55, 55, 55);
    text-align: center;
}


.contenedorCards{
    height: auto;
    width: 50rem;
}
.imagenLoading{
    width: 8rem;
    height: 8rem;
}

.loading{
    width: 100%;
    height: 60vh;
    display: flex;
    animation: animar 5s cubic-bezier(0, 0, 1, 1.03) infinite;
    justify-content: center;
    align-items: center;
}

@keyframes animar {
    0% {
      transform: rotate(0deg);

    }

    100% {
      transform: rotate(360deg);

    }
}
