.logo{
    height: 5rem;
    padding: 2rem;
    margin: 3rem;
}


.contenedor{
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    height: 8rem;
    width: auto;
    align-content: flex-start;
    align-items: center;
}

.nuevaActividad{
    border: none;
    background: none;
    height: 1.5rem;
    width: revert;
    color: #ffffff;
    font-size: 15px;
    margin: 30px;
    text-align: justify;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    justify-content: center;
    transition: border .2s ease;
}
.textCreate{
    text-decoration: none;
}

@media screen and (max-width: 460px){
    .contenedor{
        background-image: none;
        background:rgb(55, 55, 55);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: 7rem;
    }
    .logo{
        padding: 0;
        margin: 0 2rem 0 1rem;
    }
    .nuevaActividad{
    cursor: none; 
    height: auto;
    margin: 0;
    text-align: center;
    display: flex;
    padding: 0;
    word-spacing: 0.5rem;
    align-items: normal;
    }
}